
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <form>
        <form method="post">
            {% csrf_token %}
            <label for="faculty">Faculty</label>
            <select id="faculty" name="faculty" required>
                <option value="" selected disabled hidden>---</option>
                {% if faculties %}
                    {% for faculty in faculties %}
                        <option value="{{ faculty.faculty }}">
                            {{ faculty.faculty }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
    
            <label for="semester">Semester</label>
            <select id="semester" name="semester" required>
                <option value="" selected disabled hidden>---</option>
                {% if semesters %}
                    {% for semester in semesters %}
                        <option value="{{ semester.numb }}">
                            {{ semester.numb }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
    
            <button type="submit" class="btn btn-danger">Show Data</button>
        </form>
        <form>

            {% if students %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Student Name</th>
                        
                        <th>Attendance</th>
                    </tr>
                </thead>
            <tbody>
                {% load static %}
                {% for student in students %}
                <tr>
                    <td>
                        {% if student.photo %}
                        <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }}" class="img-fluid" style="width: 50px; height: auto;">
                        {% else %}
                        <img src="{% static 'image/blank.jpg' %}" alt="Default Photo" class="img-fluid" style="width: 50px; height: auto;">
                        {% endif %}
                    </td>
                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="attendance1" id="present1" value="present">
                        </div>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit Attendance</button>
        </div>
    </form>
</div>

{% endblock %}