{% include 'base.html' %}
{% block content %}
<div class="container mt-5 border p-3">
    <a class="btn btn-primary" href="{% url 'index' %}" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"></svg>
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>Back</a>
    <h2>Edit Student</h2>
    {% load static %}
    {% if student.photo %}
    <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }}"
        class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
    {% else %}
    <img src="{% static 'image/blank.jpg' %}" alt="Default Photo" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
    {% endif %}
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" class="form-control" id="photo" name="photo">
        <input type="hidden" name="id" value="{{ student.id }}">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ student.first_name }}"
                required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ student.last_name }}"
                required>
        </div>
        <div class="mb-3">
            <label for="roll_number" class="form-label">Roll Number</label>
            <input type="text" class="form-control" id="roll_number" name="roll_number"
                value="{{ student.roll_number }}" required>
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="FeMale">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="date_of_birth" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                 required>
        </div>
        <script>
            document.getElementById('date_of_birth').value='{{ dob }}'
        </script>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ student.email }}" required>
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number"
                value="{{ student.phone_number }}" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" id="address" name="address" required>{{ student.address }}</textarea>
        </div>
        <div class="mb-3">
            <label for="grade_level" class="form-label">Grade Level</label>
            <input type="number" class="form-control" id="grade_level" name="grade_level"
                value="{{ student.grade_level }}" required>
        </div>
        <div class="mb-3">

            <label for="parent_name" class="form-label">Parent Name</label>
            <input type="text" class="form-control" id="parent_name" name="parent_name"
                value="{{ student.parent_name }}" required>
        </div>
        <div class="mb-3">
            <label for="parent_phone" class="form-label">Parent Phone</label>
            <input type="text" class="form-control" id="parent_phone" name="parent_phone" value="{{ student.parent_phone }}"
                required>
        </div>
        <div class="mb-3">
            <label for="blood_group" class="form-label">Blood Group</label>
            <input type="text" class="form-control" id="blood_group" name="blood_group" value="{{ student.blood_group }}"
                required>
        </div>

<button type="submit" class="btn btn-primary">Update Student</button>
</form>
</div>
{% endblock %}