{% include 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h2>Student Data</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Student Name</th>
                    <th>Roll N.o</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Enrollment</th>
                    <th>Grade</th>
                    <th>Blood Group</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>photo</td>
                    <td>Mila Kunis</td>
                    <td>11</td>
                    <td>male</td>
                    <td>2013/06/08</td>
                    <td>iki@gmail.com</td>
                    <td>9888888</td>
                    <td>Jarankhu</td>
                    <td>202002</td>
                    <td>12</td>
                    <td>O+</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
