{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Add New Teacher</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <!-- First Name -->
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <!-- Last Name -->
            <div class="col-md-6 mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
        </div>

        <div class="row">
            <!-- Designation -->
            <div class="col-md-6 mb-3">
                <label for="designation" class="form-label">Designation</label>
                <input type="text" class="form-control" id="designation" name="designation" required>
            </div>

            <!--Qualification -->
            <div class="col-md-6 mb-3">
                <label for="qualifications" class="form-label">Office Room</label>
                <input type="text" class="form-control" id="qualifications" name="qualifications" required>
            </div>
        </div>

        <div class="row">
            <!-- Faculty -->
            <div class="col-md-6 mb-3">
                <label for="faculty" class="form-label">Faculty</label>
                <select class="form-select" id="faculty" name="faculty" required>
                    <option value="">Select Faculty</option>
                    {% for faculty in faculties %}
                    <option value="{{ faculty.id }}">{{ faculty.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Photo -->
            <div class="col-md-6 mb-3">
                <label for="photo" class="form-label">Photo</label>
                <input type="file" class="form-control" id="photo" name="photo">
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Add Teacher</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}