{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="content" id="content">
    <h2>Teacher List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Username</th>
                <th>Faculty</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if profiles %}
            {% for profile in profiles %}
            <tr>
                <td>
                    {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" alt="{{ profile.first_name }}" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                    {% else %}
                    <img src="{% static 'image/blank.jpg' %}" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
                    {% endif %}
                </td>
                <td><a href="{% url 'teacher_detail' profile.id %}">{{ profile.name }}</a></td>
                <td>{{ profile.user }}</td>
                <td>{{ profile.faculty }}</td>
                <td>{{ profile.subject }}</td>
                <td>{{ profile.designation }}</td>
                <td>{{ profile.qualification }}</td>
                <td>{{ profile.email }}</td>
                <td>
                    <a href="{% url 'edit_teacher' profile.id %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'delete_teacher' profile.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">No Teachers Found</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'add_teacher' %}" class="btn btn-primary">Add New Teacher</a>
</div>
{% endblock %}