{% include 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h1>Details</h1>
    <div class="row">
        <div class="col-md-8">
            <fieldset class="border p-3">
                <legend class="w-auto">Student Details</legend>
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }}" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                    </div>
            </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" value="{{ student.first_name }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" value="{{ student.last_name }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="roll_number" class="form-label">Roll Number</label>
                    <input type="text" class="form-control" id="roll_number" value="{{ student.roll_number }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="gender" value="{{ student.get_gender_display }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="date_of_birth" class="form-label">Date of Birth</label>
                    <input type="text" class="form-control" id="date_of_birth" value="{{ student.date_of_birth }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" value="{{ student.email }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" value="{{ student.phone_number }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" readonly>{{ student.address }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="grade_level" class="form-label">Grade Level</label>
                    <input type="text" class="form-control" id="grade_level" value="{{ student.grade_level }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="parent_name" class="form-label">Parent Name</label>
                    <input type="text" class="form-control" id="parent_name" value="{{ student.parent_name }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="parent_phone" class="form-label">Parent Phone</label>
                    <input type="text" class="form-control" id="parent_phone" value="{{ student.parent_phone }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="blood_group" class="form-label">Blood Group</label>
                    <input type="text" class="form-control" id="blood_group" value="{{ student.blood_group }}" readonly>
                </div>
                <a href="#" class="btn btn-warning">Edit</a>
            </fieldset>
        </div>
        
    </div>
</div>
{% endblock %}
