__pycache__/
*.py[cod]
*$py.class

*.so

env/
venv/
ENV/
.venv/
.env/

*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

.env           
.vscode/
.idea/

.DS_Store
Thumbs.db

htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.cache

build/
dist/
*.egg-info/

Pipfile.lock

**/migrations/*.pyc
**/migrations/__pycache__/
